body{
    background-color: bisque;
}

#titulo{
    text-align: center;
    font-size: 30px:large; 
}

.texto{
    text-align: center;
    color: rgb(126, 46, 46);
    font-size: 20px;
}
    

.cabecalho{
   align-items: center;
   justify-content: space-around;


.cabecalho{
    display: inline-block;
    vertical-align: top;
    width: 50%;
 }